<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      throwConfigExceptions="true"
      autoReload="true">
    <targets async="true">
        <target xsi:type="Console" name="console" layout="${MicrosoftConsoleLayout}" />
        <!-- 'Logs are saved in \yourProjectLocation\RestaurantAPI\Logs -->
        <!-- 'name' defines the name of given logger -->
        <!-- 'layout' defines what information will be added to log and istructure of that information -->
        <target xsi:type="File" name="file" fileName="${basedir}/../../../Logs/app-${shortdate}.log" maxArchiveFiles="7"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level:uppercase=true:padding=-5} [${logger:shortName=true}] ${message}${onexception:inner=${newline}  ${exception:format=toString}}" />
        <target xsi:type="File" name="fileTrace" fileName="${basedir}/../../../Logs/app-${shortdate}_trace.log" maxArchiveFiles="7"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level:uppercase=true:padding=-5} [${logger:shortName=true}] ${message}${onexception:inner=${newline}  ${exception:format=toString}}" />
        <target xsi:type="File" name="fileError" fileName="${basedir}/../../../Logs/app-${shortdate}_error.log" maxArchiveFiles="7"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level:uppercase=true:padding=-5} [${logger:shortName=true}] ${message}${onexception:inner=${newline}  ${exception:format=toString}}" />
    </targets>
    <!-- Rules how NLog will catch information and pass it to appropiate targets/loggers. -->
    <rules>
        <!-- Reduce noise from ASP.NET framework, and route relevant logging to output targets -->
        <logger name="System.*" finalMinLevel="Warn" />
        <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
        <logger name="Microsoft.*" finalMinLevel="Warn" />
        <!-- 'name' with '*' mens that we pass data from all classes to loggers (we can narrow it to given namespace or class if we want). -->
        <!-- 'minlevel' can be filtered to one of this levels(from lowest to highest priority): trace, debug, information, warning, error, critical -->
        <!-- 'writeTo' defines to which logger we will be sending data. -->
        <logger name="*" minlevel="Info" writeTo="console,file" />
        <logger name="*" minlevel="Trace" writeTo="fileTrace" />
        <!-- 'name' defined to only log data from 'RestaurantAPI' namespace -->
        <logger name="RestaurantAPI.*" minlevel="Error" writeTo="fileError" />
    </rules>
</nlog>